/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }
  
  ul {
	list-style: none;
  }
  
  /* Header Styles */
  header {
	position: sticky;
	background-color: #fff;
	border-bottom: 1px solid #007bff;
	padding: 20px 0;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo {
	font-size: 2rem;
	font-weight: 700;
	display: flex;
  }
  .logo img{
	width: 5%;
  }
  nav ul {
	display: flex;
  }
  
  nav li {
	margin-left: 20px;
  }
  
  nav li:first-child {
	margin-left: 0;
  }
  nav a.btn {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
  }
  nav a.btnl{
	background-color: #00ff1e;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
  }
  nav a.btn:hover,
  nav a.btnl:hover{
	opacity: 0.3;
  }
 
  /* User Registration Styles */
  .user-registration {
	background-color: #fffdfdd6;
  }

  .registration-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #007bff;
	padding: 50px;
	margin: 60px auto;
	width: 90%;
	border-radius: 20px;
  }

  .registration-box h2 {
	color: white;
	font-weight: bolder;
	font-size: 1.4rem;
	text-align: center;
  }

  .registration-box h3 {
	color: rgba(255, 255, 255, 0.783);
	font-size: large;
  }

  .continue-button {
	background-color: #fdf198;
	color: black;
	text-decoration: none;
	font-weight: 500;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 20px;
	cursor: pointer;
  }

  .registration-box p,
  .registration-box p a {
	color: rgba(255, 255, 255, 0.783);
	text-decoration: none;
  }

  .registration-box p a:hover {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.995);
  }

  /* Footer Styles */
  footer {
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
	padding-bottom: 20px;
	text-align: center;
	font-size: 0.8rem;
  }

  footer nav {
	display: flex;
	justify-content: center;
  }
  
  .back-to-top {
	margin-bottom: 20px;
	background-color: rgba(134, 141, 145, 0.473);
  }
  
  .back-to-top-text {
	display: block;
	padding: 15px 0;
	color: white;
  }
